#googleMap {
    height: 100%;
    width: 85% !important;
    margin: 0 auto;
    border: 2px groove #fff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 85%;
    height: 130px;
    margin: 0 auto;
    background-color: #629393;
    margin-bottom: 20px;
}

h1 {
    font-family: "Titillium";
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
}

.formbox {
    width: 700px;
    margin: 0 auto;
    height: 70px;
}

.latlong {
    height: 50px;
    text-align: center;
}

#latitude, #longitude, #message {
    width: 100px;
}

.inputBoxes {
    width: 95%;
    height: 70px;
    margin: 10px auto;
    padding-bottom: 10px;
    text-align: center;
}

#latPar, #longPar, #messPar {
    float:left;
    padding-left: 10px;
    margin: 10px auto;
}
